/*****************************************************************
						Media - mobile
*******************************************************************/
@media @xs {

}

/*****************************************************************
						Media - tablet
*******************************************************************/
@media @sm {
	
}

/*****************************************************************
						Media - desktop
*******************************************************************/
@media @md {

}

/*****************************************************************
						Media - large desktop
*******************************************************************/
@media @lg {

}