.screen.load-time{

	color: @color-text-secondary;
	font-weight: 200;
	font-size: 12px;

	label {
		font-weight: normal;
		text-transform: uppercase;
	}

	.load-time-bar {
		@bar-height: 30px;

		margin-bottom: 30px;
		display: table;
		width: 100%;
		font-size: 150%;

		.load-time-bar-col {
			display: table-cell;
			text-align: center;
			.transition2();
		}

		label {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			text-transform: uppercase;
			font-weight: normal;
		}

		.load-time-bar-bar {
			height: @bar-height;
			line-height: @bar-height;
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			
			.load-time-bar-value {
				color: #3C3C3C;
				font-weight: bold;	
			}

			.load-time-bar-unit {
				color: #67779C;
			}
		}

		#load-time-bar-bar-network {
			background: rgb( 1, 146, 237);
		}

		#load-time-bar-bar-server {
			background: rgb( 102, 198, 255);
		}

		#load-time-bar-bar-browser {
			background: rgb( 216, 242, 255);
			.border-radius(0, @bar-height/2, @bar-height/2, 0);
		}

	}


	.quickstats {
		label,
		.quickstat-diff {
			font-size: 150%;
		}

		.quickstat-diff {
			font-weight: bold;

			&.negative {
				color: #FF7740;
			}
		}

		.quickstat-val,
		.unit {
			font-size: 450%;
			line-height: 90%;
			font-weight: bold;
		}

		.unit {
			font-weight: 200;
			color: #C8C8C8;
		}
	}

	.quickstats-item {
		padding: 30px 0;
		text-align: center;
		margin-bottom: 5px;
		border: 1px solid #ADD8E6;
	}

	.breakdown {
		padding-top: 30px;

		label {
			font-size: 150%;
			margin-bottom: 20px;
		}

		.breakdown-item {
			margin-bottom: 8px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.breakdown-item-label {
			display: table;
			width: 100%;
			margin-bottom: 3px;

			.breakdown-item-type {
				display: table-cell;
			}

			.breakdown-item-value {
				display: table-cell;
				text-align: right;

				.unit {
					color: #C8C8C8
				}
			}
		}

		.breakdown-bar {
			height: 10px;
			padding: 1px;
			width: 100%;
			background: #175584;
			position: relative;

			.breakdown-bar-fill {
				// position: absolute;
				width: 100%;
				height: 8px;
				// top: 0;
				// left: 0; 
				background: #D8F2FF;
				.rounded(5px);
				.transition2();
			}
		}
	}

	.load-time-hystory-container {
		max-height: 400px;
		position: relative;
		width: 100%;
		// padding-bottom: 70%;
		height: 400px;

		svg {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;

			.domain {
				fill: none;
				stroke: none;
				shape-rendering: crispEdges;
			}

			text {
				fill: #fff;
			}

			#bottom_right__graph_group__line_graph__line {
				stroke: #FDBC00;
				fill: none;
				stroke-width: 5;
				shape-rendering: crispEdges;
			}

			.server_fill_col {
				fill: #66C6FF;
				background-color: #66C6FF;
			}

			.browser_fill_col {
				fill: #0192ED;
				background-color: #0192ED;
				/* shape-rendering: crispEdges; */
			}

			.network_fill_col {
				fill: #D8F2FF;
				background-color: #D8F2FF;
				/* shape-rendering: crispEdges; */
			}


		}
	}
}

/*****************************************************************
						Media - mobile
*******************************************************************/
@media @xs {
	.screen.load-time{

		font-size: 14px;

		.load-time-bar {
			font-size: 120%;
		}

		.quickstats {
			label,
			.quickstat-diff {
				font-size: 150%;
			}

			.quickstats-item {
				padding: 10px;
			}
		}

		.breakdown {
			margin-bottom: 30px;
		}

		// .load-time-hystory {
		// 	width: 100%;
		// 	padding-bottom: 100%;
		// 	height: 0;
		// }
	}
}

/*****************************************************************
						Media - tablet
*******************************************************************/
@media @sm {
	.screen.load-time{

		font-size: 12px;

		.load-time-bar {
			@bar-height: 30px;

			.load-time-bar-bar {
				height: @bar-height;
				line-height: @bar-height;
			}

			#load-time-bar-bar-browser {
				background: rgb( 216, 242, 255);
				.border-radius(0, @bar-height/2, @bar-height/2, 0);
			}

		}
	}
}

/*****************************************************************
						Media - desktop
*******************************************************************/
@media @md {
	.screen.load-time{

		font-size: 14px;

		.load-time-bar {
			@bar-height: 45px;

			.load-time-bar-bar {
				height: @bar-height;
				line-height: @bar-height;
			}

			#load-time-bar-bar-browser {
				background: rgb( 216, 242, 255);
				.border-radius(0, @bar-height/2, @bar-height/2, 0);
			}

		}

		.load-time-hystory-container {
			min-height: 380px;
		}
	}
}

/*****************************************************************
						Media - large desktop
*******************************************************************/
@media @lg {
	.screen.load-time{

		font-size: 16px;

		.load-time-bar {
			@bar-height: 55px;

			.load-time-bar-bar {
				height: @bar-height;
				line-height: @bar-height;
			}

			#load-time-bar-bar-browser {
				background: rgb( 216, 242, 255);
				.border-radius(0, @bar-height/2, @bar-height/2, 0);
			}

		}
	}
}