 // Libraries

@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";


// @import "bootstrap/bootstrap.less";
// @import "font-awesome/font-awesome.less";

/* helpers */
@import "helpers/reset.less";
@import "helpers/mixins.less";
@import "helpers/icons-and-sprites.less";

/* wireframe variabes */
@import "colors.less";
@import "fonts.less";

/* media variables */
@lg: ~"(min-width: @{screen-lg-min})";
@md: ~"(min-width: @{screen-md-min}) and (max-width: @{screen-md-max})";
@sm: ~"(min-width: @{screen-sm-min}) and (max-width: @{screen-sm-max})";
@xs: ~"(max-width: @{screen-xs-max})";


html{
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
}

body {
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	// .gradient(#143863, #198acb);
}

#wrap-all {
	// font-size: 14em;
	min-height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	// max-height: 100%;
	.gradient(#143863, #198acb);
}

h1,h2,h3,h4,h5 {
	
}

h1 {
	
}

a {
	
}


.page-container {
	padding-left: 7%;
	padding-right: 7%;
	padding-top: 70px;
	overflow: hidden;
	min-width: 280px;

	margin: 0 auto;
	max-width: 1680px;
}


.main-container {

}

/*****************************************************************
						Media - mobile
*******************************************************************/
@media @xs {

	#wrap-all {
		background: darken(#198acb , 10%);
	}

	.main-container {

	}

	.page-container {
		position: static;
		padding-top: 60px;
		padding-left: 10px;
		padding-right: 10px;
	}
}

/*****************************************************************
						Media - tablet
*******************************************************************/
@media @sm {
	.main-container {

	}
}

/*****************************************************************
						Media - desktop
*******************************************************************/
@media @md {
	.main-container {

	}
}

/*****************************************************************
						Media - large desktop
*******************************************************************/
@media @lg {
	.main-container {

	}
}



// Partials
@import "partials/header.less";

// Layouts
@import "load-time.less";