<div class="col-sm-6 col-md-3 quickstats">
	<div class="quickstats-item">
		<label>
			Average load time
		</label>
		<div class="quickstat-diff" id="load-time-quickstat-dif-avg-time">
			0%
		</div>
		<div>
			<span class="quickstat-val" id="load-time-quickstat-val-avg-time">2.1</span><!--
			--><span class="unit">s</span>
		</div>
	</div>
	<div class="quickstats-item">
		<label>
			Pageviews today
		</label>
		<div class="quickstat-diff negative" id="load-time-quickstat-dif-pageviews">
			-8.4%
		</div>
		<div >
			<span class="quickstat-val" id="load-time-quickstat-val-pageviews">
				208
			</span>
		</div>
	</div>
</div>