<div class="col-sm-6 col-md-3 breakdown">
	<label>
		Breakdown
	</label>


	<div class="breakdown-items">
		<div class="breakdown-item">

			<div class="breakdown-item-label">	
				<div class="breakdown-item-type">
					Domain lookup 
					<span id="load-time-domain-lookup-percent">10%</span>
				</div>
				<div class="breakdown-item-value">
					<span id="load-time-domain-lookup-val">0</span><span class="unit">ms</span>
				</div>
			</div>

			<div class="breakdown-bar">
				<div class="breakdown-bar-fill" style="width:10%"></div>
			</div>
		</div>


		<div class="breakdown-item">
			<div class="breakdown-item-label">	
				<div class="breakdown-item-type">
					Page download
					<span id="load-time-domain-lookup-percent">20%</span>
				</div>
				<div class="breakdown-item-value">
					<span id="load-time-domain-lookup-val">0</span><span class="unit">ms</span>
				</div>
			</div>

			<div class="breakdown-bar">
				<div class="breakdown-bar-fill" style="width:20%"></div>
			</div>
		</div>


		<div class="breakdown-item">
			<div class="breakdown-item-label">	
				<div class="breakdown-item-type">
					Redirection
					<span id="load-time-domain-lookup-percent">30%</span>
				</div>
				<div class="breakdown-item-value">
					<span id="load-time-domain-lookup-val">0</span><span class="unit">ms</span>
				</div>
			</div>

			<div class="breakdown-bar">
				<div class="breakdown-bar-fill" style="width:30%"></div>
			</div>
		</div>


		<div class="breakdown-item">
			<div class="breakdown-item-label">	
				<div class="breakdown-item-type">
					Server connection
					<span id="load-time-domain-lookup-percent">40%</span>
				</div>
				<div class="breakdown-item-value">
					<span id="load-time-domain-lookup-val">0</span><span class="unit">ms</span>
				</div>
			</div>

			<div class="breakdown-bar">
				<div class="breakdown-bar-fill" style="width:40%"></div>
			</div>
		</div>


		<div class="breakdown-item">
			<div class="breakdown-item-label">	
				<div class="breakdown-item-type">
					Domain lookup 
					<span id="load-time-domain-lookup-percent">50%</span>
				</div>
				<div class="breakdown-item-value">
					<span id="load-time-domain-lookup-val">0</span><span class="unit">ms</span>
				</div>
			</div>

			<div class="breakdown-bar">
				<div class="breakdown-bar-fill" style="width:50%"></div>
			</div>
		</div>

		<div class="breakdown-item">
			<div class="breakdown-item-label">	
				<div class="breakdown-item-type">
					Domain lookup 
					<span id="load-time-domain-lookup-percent">60%</span>
				</div>
				<div class="breakdown-item-value">
					<span id="load-time-domain-lookup-val">0</span><span class="unit">ms</span>
				</div>
			</div>

			<div class="breakdown-bar">
				<div class="breakdown-bar-fill" style="width:60%"></div>
			</div>
		</div>

		<div class="breakdown-item">
			<div class="breakdown-item-label">	
				<div class="breakdown-item-type">
					Domain lookup 
					<span id="load-time-domain-lookup-percent">70%</span>
				</div>
				<div class="breakdown-item-value">
					<span id="load-time-domain-lookup-val">0</span><span class="unit">ms</span>
				</div>
			</div>

			<div class="breakdown-bar">
				<div class="breakdown-bar-fill" style="width:70%"></div>
			</div>
		</div>
	</div>



</div>
