<div class="load-time-bar">


		<div class="load-time-bar-col load-time-bar-network" style="width:10%">

			<label>
				Network <br>
				<span class="load-time-bar-percent" id="load-time-bar-percent-network">
					10%
				</span>
			</label>
			<div class="load-time-bar-bar" id="load-time-bar-bar-network">
				<span class="load-time-bar-value">20</span><span class="load-time-bar-unit">ms</span>
			</div>

		</div>	


		<div class="load-time-bar-col load-time-bar-server" style="width:23%">

			<label>
				Server <br>
				<span class="load-time-bar-percent" id="load-time-bar-percent-server">
					20%
				</span>
			</label>
			<div class="load-time-bar-bar" id="load-time-bar-bar-server">
				<span class="load-time-bar-value">60</span><span class="load-time-bar-unit">ms</span>
			</div>

		</div>


		<div class="load-time-bar-col load-time-bar-browser" style="width:67%">

			<label>
				Browser <br>
				<span class="load-time-bar-percent" id="load-time-bar-percent-browser">
					20%
				</span>
			</label>
			<div class="load-time-bar-bar" id="load-time-bar-bar-browser">
				<span class="load-time-bar-value">120</span><span class="load-time-bar-unit">ms</span>
			</div>

		</div>
	</div>