<div class="screen load-time">

	<% include partials/load-time-bar %>

	<div class="row">
		
		<% include partials/load-time-quickstats %>
		<% include partials/load-time-breakdown %>
		<% include partials/load-time-hystory %>
	</div>

</div>