header {
	height: 40px;	
	line-height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: @color-text-secondary;
	font-size: 107%;
	text-transform: uppercase;
	letter-spacing: 2px;


	.header-screen-name {
		padding: 0 30px;
		line-height: 40px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow:ellipsis;
	}

}


/*****************************************************************
						Media - mobile
*******************************************************************/
@media @xs {
	header {
		.header-screen-name {
			padding: 0 15px;
		}
	}
}

/*****************************************************************
						Media - tablet
*******************************************************************/
@media @sm {
	header {
		
	}
}

/*****************************************************************
						Media - desktop
*******************************************************************/
@media @md {
	header {
		
	}
}

/*****************************************************************
						Media - large desktop
*******************************************************************/
@media @lg {
	header {
		
	}
}